API_KEY=
NOCOBASE_URL=https://flow.skeducator.ru
CORS_ALLOW_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

VITE_BACKEND_API_URL=/backend
VITE_BACKEND_API_PROXY_URL=http://backend:8000/api/v1
VITE_LOGGING=0